<!DOCTYPE html>
<html lang="en">

<title><%= title %></title>
 
<body>
  <%- include("partials/header", {}) %>

  <main>
    <h1><%= message %></h1>
   <!-- <p>Jugador: <%= player %></p>-->
   <p>Desarrollado por: Juan Antonio Peregrina
    <br>
    <p>Presentamos una versión Beta 1.0.0 de snake en node + express</p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
   </p>
  </main>

  <%- include("partials/footer", {}) %>
</body>
</html>
